In [3]:
#import statements
import pandas as pd 
import numpy as np 
pd.set_option('display.max_columns', None)

**Find the data codebook here**:   https://metadata.phila.gov/#home/datasetdetails/5543865f20583086178c4ee5/representationdetails/55d624fdad35c7e854cb21a4/?view_287_page=1

**Columns to keep**:     
'assessment_date', 'basements', 'building_code', 
                 'category_code_description','census_tract', 'central_air','depth',
                 'exterior_condition', 'fireplaces', 'frontage', 'fuel', 'garage_spaces',
                 'garage_type','general_construction', 'geographic_ward', 
                 'house_extension', 'interior_condition',
                 'market_value', 'market_value_date', 'number_of_bathrooms', 
                 'number_of_bedrooms', 'number_of_rooms','number_stories', 'quality_grade', 
                 'recording_date', 'sale_date', 'sale_price', 'separate_utilities',
                 'site_type', 'street_designation', 'taxable_building', 'taxable_land', 
                 'topography', 'total_area','total_livable_area', 'type_heater', 
                 'unfinished', 'unit', 'utility', 'view_type', 'year_built', 'year_built_estimate',
                 'zip_code', 'zoning', 'pin', 'lat', 'lng'

In [24]:
#place columns of interest into a list
cols_interest = ['assessment_date', 'basements', 
                 'category_code_description','census_tract', 'central_air','depth',
                 'exterior_condition', 'fireplaces', 'frontage', 'fuel', 'garage_spaces',
                 'geographic_ward', 
                 'interior_condition',
                 'market_value', 'market_value_date', 'number_of_bathrooms', 
                 'number_of_bedrooms', 'number_of_rooms','number_stories', 'quality_grade', 
                 'recording_date', 'sale_date', 'sale_price', 
                 'topography', 'total_area','total_livable_area', 'type_heater', 
                 'unfinished',  'view_type', 'year_built', 'year_built_estimate',
                 'zip_code',  'lat', 'lng']

In [42]:
#read in data using columns of interest 
#query only those multifamily and single family homes
dat = (pd.read_csv("/home/jovyan/work/Philadelphia-Housing/processing/opa_properties_public.csv", 
                 usecols = cols_interest)
       .query('category_code_description == "Multi Family" | category_code_description == "Single Family"')
)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (67,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
dat['basements'] = dat['basements'].map({'A': 'full', 'B': 'full','C': 'full','D': 'full','I': 'full',
                                        'E': 'partial','F': 'partial','G': 'partial','H': 'partial','J': 'partial',
                                        '0': 'None'})
dat['central_air'] = dat['central_air'].map({'0': 'N', '1': 'Y','Y': 'Y', 'N': 'N'})

dat['fuel'] = dat['fuel'].map({'A': 'NG', 'B': 'Oil','C': 'Electric',
                              'E': 'other', 'G': 'other','H': 'other','I':'other'})
dat['topography'] = dat['topography'].map({'A': 'A', 'B': 'B','C': 'C',
                              'D': 'D', 'E': 'E','F': 'F'})

dat['type_heater'] = dat['type_heater'].map({'A': 'A', 'B': 'B','C': 'C',
                              'D': 'D', 'E': 'E','G': 'G','H': 'H'})

In [27]:
dat.head()

,assessment_date,basements,category_code_description,census_tract,central_air,depth,exterior_condition,fireplaces,frontage,fuel,garage_spaces,geographic_ward,interior_condition,market_value,market_value_date,number_of_bathrooms,number_of_bedrooms,number_of_rooms,number_stories,quality_grade,recording_date,sale_date,sale_price,topography,total_area,total_livable_area,type_heater,unfinished,view_type,year_built,year_built_estimate,zip_code,lat,lng
0,2021-07-05 09:29:19,full,Single Family,139.0,Y,94.0,1.0,NaN,16.0,A,NaN,29.0,1.0,263000.0,NaN,NaN,3.0,10.0,1.0,NaN,2021-12-08 00:00:00,2021-08-06 00:00:00,263000.0,F,1542.0,1242.0,A,NaN,NaN,2019,NaN,19121.0,-75.174210,39.979126
1,2021-05-25 16:02:19,None,Single Family,8.0,Y,0.0,3.0,0.0,0.0,NaN,0.0,8.0,3.0,309800.0,NaN,0.0,0.0,NaN,1.0,B,2021-12-08 00:00:00,2021-07-16 00:00:00,272500.0,F,0.0,524.0,NaN,NaN,C,1900,Y,19103.0,-75.170423,39.949254
2,2022-02-17 13:44:33,NaN,Single Family,160.0,Y,50.0,1.0,NaN,NaN,A,NaN,31.0,1.0,660000.0,NaN,2.0,3.0,NaN,3.0,NaN,2021-12-07 00:00:00,2021-07-06 00:00:00,655000.0,F,800.0,2499.0,A,NaN,I,2020,NaN,19125.0,-75.128893,39.978672
3,2021-10-12 15:40:41,full,Single Family,216.0,Y,109.0,1.0,0.0,80.0,A,NaN,21.0,1.0,570400.0,NaN,2.0,3.0,6.0,2.0,NaN,2021-12-06 00:00:00,2021-08-10 00:00:00,605950.0,F,8219.0,2716.0,A,NaN,I,2021,NaN,19128.0,-75.235043,40.045622
9,2021-05-18 14:10:10,NaN,Multi Family,215.0,NaN,38.0,3.0,0.0,68.0,NaN,0.0,21.0,3.0,202600.0,NaN,0.0,0.0,NaN,2.0,C+,2021-11-19 00:00:00,2021-11-09 00:00:00,1.0,F,4712.0,2356.0,NaN,NaN,I,1940,Y,19127.0,-75.229891,40.029924

In [55]:
#possible predictions: 
#https://www.kaggle.com/datasets/harlfoxem/housesalesprediction
#https://github.com/michellesklee/predicting_home_values
dat.groupby(['view_type'], dropna=False, as_index=False).size()

  view_type    size
0         0    3634
1         A   14667
2         B    1744
3         C    7514
4         D    2530
5         E    1911
6         H    2658
7         I  467587
8       NaN    2255